auto-install-peers=false
save-exact=true
dedupe-peer-dependents=true
strict-peer-dependencies=false

# Needed for all package to work properly. Don't remove the lines.

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
public-hoist-pattern[]=*textlint-*

# Needed for all package to work properly. Don't remove the lines.

# npm v8.5+: npm ERR! notarget No matching version found for...
workspaces-update=false
