# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Labeler"

on: # yamllint disable-line rule:truthy
    - "pull_request_target"

jobs:
    triage:
        runs-on: "ubuntu-latest"
        permissions:
            contents: "read"
            pull-requests: "write"
        steps:
            - uses: "actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9" # v5.0.0
              with:
                  repo-token: "${{ secrets.GITHUB_TOKEN }}"
                  configuration-path: "labeler-config.yml"
