name: "Lock File Maintenance"

on: # yamllint disable-line rule:truthy
    schedule:
        - cron: "0 */3 * * *" # At minute 0 past every 3rd hour.
    pull_request:
        branches:
            - "dependabot/**"
    workflow_dispatch: # yamllint disable-line rule:empty-values

permissions:
    contents: "read" # for checkout

jobs:
    lock-file:
        uses: "anolilab/workflows/.github/workflows/pnpm-lock-file-maintenance.yml@main"
        with:
            target-repo: "anolilab/multi-semantic-release"
            node-version: "22.x"
            run-audit-fix: true
        secrets:
            github-token: "${{ secrets.LOCK_MAINTENANCE_GITHUB_TOKEN }}"

